body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 1200px;
}

header nav {
  background-color: #ffc017;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
  align-items: center;
  border-bottom: 1px solid black;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 15px;
}

li p {
  margin-right: 1em;
  transform: scale(1, 0.9);
}

li button {
  margin-right: 1em;
  transform: scale(1, 0.9);
}

.getStarted button {
  display: flex;
  background-color: #191919;
  color: white;
  border: 0;
  padding: 1em;
  border-radius: 20px;
}

.mainHeadline {
  background-color: #ffc017;
  height: 380px;
  padding-left: 4em;
  padding-top: 5em;
  border-bottom: 1px solid #191919;
}

.mainTitle {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.mainTitle h1 {
  font-family: "Spectral", serif;
  font-size: 6.8em;
  font-weight: 400;
  letter-spacing: -6px;
}

.mainTitle h3 {
  font-size: 25px;
  transform: scale(1, 0.97);
  color: #191919;
  margin-top: 1em;
}
.mPic {
}

.startReading {
  margin-top: 2em;
  width: 11em;
  background-color: #191919;
  color: white;
  font-size: 20px;
  border: 0;
  height: 2em;
  border-radius: 30px;
}

.firstHalf {
  margin-left: 4em;
  margin-top: 2em;
}

.trendingContainer {
  margin-left: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headlinesContainer:nth-child(5) {
  margin-left: -25px;
}

.firstHalf .trendingSection {
  max-width: 335px;
}

.trendingOnMedium .trendMed {
  font-weight: 600;
}

.trendingOnMedium,
.arrowTrend {
  display: flex;
  align-items: center;
}

.trendMed {
  margin-left: 5px;
  color: #191919;
  opacity: 0.8;
}

.firstHalf .trendingContainer .trendingTitle {
  max-width: 280px;
}

.lowerHalf {
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scrollNews {
  max-width: 625px;
}

.footer {
  margin-top: 4em;
}

.discover {
  display: flex;
  flex-direction: column;
}

.discoverTopics {
  max-width: 357.33px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerLinks1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerLinks2 {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul .links {
  display: flex;
  flex-direction: row;
}

.trendingSection img {
  max-width: 200px;
}

.lowerHalf .trendingSection {
  max-width: 413px;
}
.links li {
  padding: 10px;
  padding-left: 0;
}

.discoverTopics p {
  padding: 10px;
}

.discoverTitle {
  font-weight: 600;
  margin-bottom: 1em;
}

.smallHeadline {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.lowerHalf .trendingSection .trendingTitle {
  margin-top: 1em;
  font-weight: 600;
  font-size: 25px;
}

.lowerHalf .trendingSection .trendingTitle p {
  transform: scale(1, 0.95);
}

.articlePreview {
  max-width: 413px;
}
