body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 1200px;
  margin-inline: auto;
}
nav {
  background-color: #ffc017;
  padding: 1em;
  border-bottom: 1px solid black;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 15px;
  align-items: center;
}

li p {
  margin-right: 1em;
  transform: scale(1, 0.9);
}

li button {
  margin-right: 1em;
  transform: scale(1, 0.9);
}

.getStarted {
  display: flex;
  background-color: #191919;
  color: white;
  border: 0;
  padding: 1em;
  border-radius: 20px;
}

.navigation ul li p {
  color: black;
}

.getStarted a:visited,
.startReading a:visited {
  color: white;
}

a {
  text-decoration: none;
}

main {
  background-color: white;
}

.mainHeadline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc017;
  padding-left: 4em;
  border-bottom: 1px solid #191919;
}

.mainTitle h1 {
  font-family: "Spectral", serif;
  font-size: 6.8em;
  font-weight: 400;
  letter-spacing: -6px;
}

.mainTitle h3 {
  font-size: 25px;
  transform: scale(1, 0.92);
  color: #242424;
  margin-top: 1em;
}

.startReading {
  margin-top: 2em;
  width: 11em;
  background-color: #191919;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border: 0;
  height: 2em;
  border-radius: 30px;
}

.firstHalf {
  margin-left: 4em;
  margin-top: 2em;
}

.trendingSection {
  display: flex;
  flex-direction: column;
}

.trendingContainer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.trendingContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.smallHeadline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
}

.smallHeadline img {
  max-width: 20px;
  margin-right: 1em;
  border-radius: 30%;
}

.smallHeadline .img1,
.smallHeadline .img2 {
  border-radius: 50%;
}

.headlinesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trendingTitle {
  font-weight: 900;
  font-size: 15px;
}

.trendingNumber {
  padding: 1em;
  font-size: 25px;
  font-weight: 900;
  color: rgb(221, 221, 221);
}

.lowerHalf {
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scrollNews {
  max-width: 625px;
}

.footer {
  margin-top: 4em;
}

.discover {
  display: flex;
  flex-direction: column;
}

.discoverTopics {
  max-width: 357.33px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerLinks1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerLinks2 {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul .links {
  display: flex;
  flex-direction: row;
}

.lowerHalf .trendingSection {
  max-width: 413px;
}
.links li {
  padding: 10px;
  padding-left: 0;
}

.discoverTopics p {
  padding: 10px;
}

.discoverTitle {
  font-weight: 600;
  margin-bottom: 1em;
}

.smallHeadline {
  font-weight: 600;
}

.lowerHalf .trendingSection .trendingTitle {
  margin-top: 1em;
  font-weight: 600;
  font-size: 25px;
}

.lowerHalf .trendingSection .trendingTitle p {
  transform: scale(1, 0.95);
}

.articlePreview {
  max-width: 413px;
}
