body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 1200px;
  margin-inline: auto;
}
nav {
  background-color: #ffc017;
  padding: 1em;
  border-bottom: 1px solid black;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 15px;
  align-items: center;
}

li p {
  margin-right: 1em;
  transform: scale(1, 0.9);
}

li button {
  margin-right: 1em;
  transform: scale(1, 0.9);
}

.getStarted {
  display: flex;
  background-color: #191919;
  color: white;
  border: 0;
  padding: 1em;
  border-radius: 20px;
}

.getStarted:hover {
  background-color: #1a8917;
}

.navigation ul li p {
  color: black;
}

.getStarted a:visited,
.startReading a:visited {
  color: white;
}

a {
  text-decoration: none;
}

main {
  background-color: white;
}

.mainHeadline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc017;
  padding-left: 4em;
  border-bottom: 1px solid #191919;
}

.mainTitle h1 {
  font-family: "Spectral", serif;
  font-size: 6.8em;
  font-weight: 400;
  letter-spacing: -6px;
}

.mainTitle h3 {
  font-size: 25px;
  transform: scale(1, 0.92);
  color: #242424;
  margin-top: 1em;
}

.startReading {
  margin-top: 2em;
  width: 11em;
  background-color: #191919;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border: 0;
  height: 2em;
  border-radius: 30px;
}

.startReading:hover {
  background-color: #1a8917;
}

.firstHalf {
  margin: 2em;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.trendingSection {
  display: flex;
  flex-direction: column;
}

.trendingContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: stretch;
  flex-direction: row;
  justify-content: space-between;
}

.smallHeadline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
}

.smallHeadline img {
  max-width: 20px;
  margin-right: 1em;
  border-radius: 30%;
}

.smallHeadline .img1,
.smallHeadline .img2 {
  border-radius: 50%;
}

.headlinesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trendingTitle {
  font-weight: 900;
  font-size: 15px;
}

.number5 {
  margin-left: -43px;
}

.number6 {
  margin-right: 7px;
}

.trendingNumber {
  padding: 1em;
  font-size: 25px;
  font-weight: 900;
  color: rgb(221, 221, 221);
}

.trendingOnMedium {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 1px;
  color: #191919;
  margin-left: 2em;
}

.readingTime {
  display: flex;
  flex-direction: row;
  font-size: 10px;
}

.readingTime img {
  margin-left: 3px;
  width: 7%;
}

.lowerHalf {
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scrollNews {
  max-width: 625px;
}

.footer {
  margin-top: 4em;
}

.discover {
  display: flex;
  flex-direction: column;
}

.discoverTopics {
  max-width: 357.33px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerLinks1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerLinks2 {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul .links {
  display: flex;
  flex-direction: row;
}

.lowerHalf .trendingSection2 {
  max-width: 413px;
}
.links li {
  padding: 10px;
  padding-left: 0;
}

.discoverTopics p {
  padding: 10px;
}

.discoverTitle {
  font-weight: 600;
  margin-bottom: 1em;
}

.smallHeadline {
  font-weight: 600;
}

.trendingTitle2 {
  margin-top: 1em;
  font-weight: 600;
  font-size: 25px;
}

.trendingTitle2 h2 {
  transform: scale(1, 0.95);
  font-weight: 700;
  font-size: 20px;
}

.articlePreview {
  font-weight: 400;
  font-size: 13px;
  color: #767676;
  margin-top: 5px;
}

.smallHeadline2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  margin-bottom: -20px;
}

.smallHeadline2 img {
  border-radius: 50%;
  max-width: 5%;
  margin-right: 1em;
}

.trendingTitle2 {
  display: flex;
  flex-direction: column;
}

.smallCont {
  display: flex;
  flex-direction: column;
}

.readingTime2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  margin-top: 1em;
  color: #767676;
}

.star {
  max-width: 10%;
  margin-left: 2px;
}

.containerLow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

.sideImg img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 150px;
}

.exception {
  font-weight: 400;
  color: #767676;
}

.topic {
  margin-left: 5px;
  border-radius: 30px;
  border-style: none;
  padding: 6px;
  color: #767676;
  font-size: 10px;
}

.asideBtn {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-bottom: 1em;
  color: #767676;
}

li a:visited {
  color: #767676;
}

li a:link {
  color: #767676;
}
